<header>
  <div class="menu content">
    <div class="menu logo">
      <img class="svg-white" src="/images/cup-hot.svg" alt="Coffee icon" />
      <h1 class="logo-nome">André Carvalho</h1>
    </div>
    <nav class="menu">
      <ul class="menu itens">
        <li><a href="#readme">Sobre mim</a></li>
        <li><button>Blog</button></li>
        <li><a href="#template">Início</a></li>
      </ul>
    </nav>
  </div>
</header>
