<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog - André Carvalho</title>
    <link rel="stylesheet" href="/styles/styles.css" />
</head>
<body>
    <%- include("partials/header.ejs") %>
    <main>
        <section class="posts-section">
            <a><button class="create-button">Criar post</button></a>
            <article class="post">
                <a href="/post.ejs"><h2 class="post-title">Aprendendo node</h2></a>
                <p class="post-resume">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil mollitia, dolore fugiat, at temporibus saepe commodi itaque, soluta omnis nostrum cupiditate! Sed id aperiam sapiente praesentium consequatur ipsam ducimus adipisci.</p>
                <footer class="post-footer">
                    <p>Publicado por Andre</p>
                </footer>
            </article>

            <article class="post">
                <a href="/post.ejs"><h2 class="post-title">Aprendendo node</h2></a>
                <p class="post-resume">Aprendendo node e descobrindo novas ferramentas para o backend.</p>
                <footer class="post-footer">
                    <p>Publicado por Andre</p>
                </footer>
            </article>

            <article class="post">
                <a href="/post.ejs"><h2 class="post-title">Aprendendo node</h2></a>
                <p class="post-resume">Aprendendo node e descobrindo novas ferramentas para o backend.</p>
                <footer class="post-footer">
                    <p>Publicado por Andre</p>
                </footer>
            </article>
        </section>
    </main>
    <%- include("partials/footer.ejs") %>
</body>
</html>